{{- $src := .Destination -}}

<img src="{{ $src | safeURL }}" alt="{{ .Text }}"
{{- with .Title -}}
    {{- if not $.Page.Site.Params.enableCaption }} title="{{ . }}"{{ end -}}
{{- end -}}
{{- range $key, $value := .Attributes -}}
    {{- if and (ne $key "src") (ne $key "alt") (ne $key "title") -}}
        {{- printf " %s=%q" $key $value | safeHTMLAttr -}}
    {{- end -}}
{{- end -}}
>
{{- if and .Page.Site.Params.enableCaption .Title -}}
    <span class="caption">{{ .Page.Site.Params.captionPrefix }}{{ .Title }}</span>
{{- end -}}
