{{- $ := index . "$" -}}
{{- $isHome := .isHome -}}
{{- $isPost := .isPost | default (partial "utils/is-post.html" $) -}}
<div class="post-meta">
    {{ if not $.PublishDate.IsZero }}
        {{ $icon := partial "utils/icon.html" (dict "$" $ "name" "calendar-alt" "class" "post-meta-icon") }}
        <time datetime="{{ $.PublishDate.Format "2006-01-02T15:04:05-07:00" }}" class="post-meta-item published">{{ $icon }}&nbsp;{{ $.PublishDate.Format $.Site.Params.postMetaDateFormat }}</time>
    {{ end }}
    {{ if and $isPost (not $.Lastmod.IsZero) (ne ($.Lastmod.Format "2006-01-02") ($.PublishDate.Format "2006-01-02")) }}
        {{ $icon := partial "utils/icon.html" (dict "$" $ "name" "edit" "class" "post-meta-icon") }}
        <time datetime="{{ $.Lastmod.Format "2006-01-02T15:04:05-07:00" }}" class="post-meta-item modified dt-updated">{{ $icon }}&nbsp;{{ $.Lastmod.Format $.Site.Params.postMetaDateFormat }}</time>
    {{ end }}
    {{ with $.Params.categories }}
        <span class="post-meta-item category">
            {{- partial "utils/icon.html" (dict "$" $ "name" "folder" "class" "post-meta-icon") -}}&nbsp;
            {{- partial "utils/taxonomy-links.html" (dict "$" $ "taxonomy" "categories" "terms" . "class" "category-link" "delimiter" "/") -}}
        </span>
    {{ end }}
    {{ if $isPost }}
        {{ $icon := partial "utils/icon.html" (dict "$" $ "name" "clock" "class" "post-meta-icon") }}
        <span class="post-meta-item reading-time">{{ $icon }}&nbsp;{{ $.ReadingTime }}&nbsp;分钟</span>
    {{ end }}
    {{- if $isHome -}}
        {{- with $.Params.tags -}}
            <div class="post-meta-item post-meta-tags" aria-label="标签">
                {{- $tagIcon := partial "utils/icon.html" (dict "$" $ "name" "tag" "class" "post-meta-icon") -}}
                <span class="post-meta-tags-icon">{{- $tagIcon -}}</span>
                {{- partial "utils/taxonomy-links.html" (dict "$" $ "taxonomy" "tags" "terms" . "class" "post-meta-tag-link") -}}
            </div>
        {{- end -}}
    {{- end -}}
</div>
