@use "../utils/variables";

.list-title,
.list-year,
.post-title,
.post-nav,
thead,
dt {
  font-family: variables.$fontFamilyTitle;
}

.post-body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: variables.$fontFamilyHeadings;
  }
}

code,
pre,
sup,
.post-meta,
.copy-button {
  font-family: variables.$fontFamilyCode;
}

body {
  font-family: variables.$fontFamilyBody;
}
