.list-title,
.term-title,
.list-year,
.list-month,
.post-title,
.post-subtitle,
.post-nav,
thead,
dt {
  font-family: $fontFamilyTitle;
}

.post-body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: $fontFamilyHeadings;
  }
}
.contents-title {
  font-family: $fontFamilyHeadings;
}

code,
pre,
sup,
.post-meta,
.copy-button {
  font-family: $fontFamilyCode;
}

body {
  font-family: $fontFamilyBody;
}
