{{- if .Site.Params.enableBusuanzi | default false -}}
    {{- $showPV := .Site.Params.displayBusuanziSitePV | default false -}}
    {{- $showUV := .Site.Params.displayBusuanziSiteUV | default false -}}
    {{- if or $showPV $showUV -}}
        <div class="busuanzi-site-stats" aria-label="站点访问统计">
            {{- if $showPV -}}
                <span class="busuanzi-site-stat" id="busuanzi_container_site_pv">访问 <span id="busuanzi_value_site_pv"></span></span>
            {{- end -}}
            {{- if $showUV -}}
                <span class="busuanzi-site-stat" id="busuanzi_container_site_uv">访客 <span id="busuanzi_value_site_uv"></span></span>
            {{- end -}}
        </div>
    {{- end -}}
{{- end -}}
