{{- if and (.Site.Params.enableQRCodeShare | default false) .IsPage (in (.Site.Params.mainSections | default (slice "post")) .Section) -}}
    {{- $icon := partial "utils/icon.html" (dict "$" . "name" (.Site.Params.qrCodeShareIcon | default "qrcode") "class" "post-qrcode-icon") -}}
    <div class="post-qrcode-share" id="post-qrcode-share" data-url="{{ .Permalink }}">
        <button class="post-qrcode-toggle" type="button" aria-expanded="false" aria-controls="post-qrcode-panel">
            {{- $icon -}}
            <span>二维码分享</span>
        </button>
        <div class="post-qrcode-panel" id="post-qrcode-panel" hidden>
            <div class="post-qrcode-canvas" id="post-qrcode-canvas" aria-label="当前文章二维码"></div>
            <a class="post-qrcode-url" href="{{ .Permalink }}">{{ .Permalink }}</a>
        </div>
    </div>
{{- end -}}
