{{- $ := index . "$" -}}
{{- $isHome := .isHome -}}
{{- $showPublished := true -}}
{{- if isset $.Params "displayPublishedDate" -}}
    {{- $showPublished = $.Params.displayPublishedDate -}}
{{- end -}}
{{- $showModified := false -}}
{{- if isset $.Params "displayModifiedDate" -}}
    {{- $showModified = $.Params.displayModifiedDate -}}
{{- end -}}
{{- $showWordCount := false -}}
{{- if isset $.Params "displayWordCount" -}}
    {{- $showWordCount = $.Params.displayWordCount -}}
{{- end -}}
{{- $showReadingTime := true -}}
{{- if isset $.Params "displayReadingTime" -}}
    {{- $showReadingTime = $.Params.displayReadingTime -}}
{{- end -}}
<div class="post-meta">
    {{ if and (not $.PublishDate.IsZero) $showPublished }}
        {{ $icon := partial "utils/icon.html" (dict "$" $ "name" "calendar-alt" "class" "post-meta-icon") }}
        <time datetime="{{ $.PublishDate.Format "2006-01-02T15:04:05-07:00" }}" class="post-meta-item published dt-published">{{ $icon }}&nbsp;{{ $.PublishDate.Format $.Site.Params.postMetaDateFormat }}</time>
    {{ end }}
    {{ if and (not $.Lastmod.IsZero) $showModified }}
        {{ $icon := partial "utils/icon.html" (dict "$" $ "name" "edit" "class" "post-meta-icon") }}
        <time datetime="{{ $.Lastmod.Format "2006-01-02T15:04:05-07:00" }}" class="post-meta-item modified dt-updated">{{ $icon }}&nbsp;{{ $.Lastmod.Format $.Site.Params.postMetaDateFormat }}</time>
    {{ end }}
    {{ with $.Params.categories }}
        <span class="post-meta-item category">
            {{- partial "utils/icon.html" (dict "$" $ "name" "folder" "class" "post-meta-icon") -}}&nbsp;
            {{- partial "utils/taxonomy-links.html" (dict "$" $ "taxonomy" "categories" "terms" . "class" "category-link p-category" "delimiter" "/") -}}
        </span>
    {{ end }}
    {{ if $showWordCount }}
        {{ $icon := partial "utils/icon.html" (dict "$" $ "name" "font" "class" "post-meta-icon") }}
        <span class="post-meta-item wordcount">{{ $icon }}&nbsp;{{ $.WordCount }}</span>
    {{ end }}
    {{ if $showReadingTime }}
        {{ $icon := partial "utils/icon.html" (dict "$" $ "name" "clock" "class" "post-meta-icon") }}
        <span class="post-meta-item reading-time">{{ $icon }}&nbsp;{{ $.ReadingTime }}&nbsp;{{ i18n "minute" $.ReadingTime }}</span>
    {{ end }}
    {{ partial "components/vercount-page.html" (dict "$" $ "isHome" $isHome) }}
    {{ partial "custom/post-meta.html" (dict "$" $ "isHome" $isHome) }}
</div>
