<nav id="header" class="fixed w-full z-10 top-0 shadow" style="background-color: var(--bg-color);">

  <!-- 页面滚动进度条 -->
  <div id="progress" class="h-1 z-20 top-0" style="background:linear-gradient(to right, var(--primary-color) var(--scroll), transparent 0);"></div>

  <div class="w-full container mx-auto flex flex-wrap items-center justify-between my-1">
      <!-- 网站标题 -->
      <div class="pl-4">
          <a class="text-base no-underline hover:no-underline font-bold text-xl" style="color: var(--text-color);" href="/">
              {{ $.Site.Title }}
          </a>
      </div>

      <!-- 移动端导航按钮 -->
      <div class="block lg:hidden pr-4">
          <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded appearance-none focus:outline-none" style="color: var(--text-color); border-color: var(--border-color);">
              <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
      </div>

      <!-- 导航菜单 -->
      <div class="w-full flex-grow lg:flex lg:items-center lg:w-auto hidden lg:block mt-2 lg:mt-0 md:bg-transparent z-20" id="nav-content" style="background-color: var(--bg-color);">
          <ul class="list-reset lg:flex justify-end flex-1 items-center">
              {{- range $item := $.Site.Params.NavItems }}
              <!-- 主题切换按钮 -->
              <li class="mr-3">
                  <a href="{{ index $item 1 }}" class="inline-block py-2 px-2 font-bold no-underline" style="color: var(--text-color);">{{ index $item 0 }}</a>
              </li>
              {{- end }}
              <li class="mr-3">
                  <button id="theme-toggle" class="theme-toggle"></button>
              </li>
          </ul>
      </div>
  </div>
</nav>