<!-- 文章主体部分 -->
<section class="w-full lg:w-3/4 xl:w-3/4">
    <div class="px-8 py-6 mt-6 lg:mt-0 leading-normal rounded shadow" style="background-color: var(--card-bg-color);">
    <!-- 移动端目录 -->
    {{ partial "posts/title.html" . }}

    <div class="md:hidden">
        {{ partial "posts/toc.html" . }}
    </div>

    <!-- 文章内容部分 -->
    <div class="post-content">
        {{ .Content }}
        <hr class="bg-gray-300 mt-8">
        {{ partial "posts/reward.html" . }}
        {{ partial "posts/copyright.html" . }}
    </div>

    <!-- 标签部分 -->
    {{ with .Params.tags -}}
    <div class="text-base md:text-sm text-color-secondary pt-6">
        {{ range . -}}
        <a class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-color-primary mr-2 hover:bg-gray-300"
            href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}{{ if $.Site.Params.uglyURLs }}{{ end }}.html">
            #{{ . }}
        </a>
        {{ end }}
    </div>
    {{ end }}

    <!-- 阅读次数统计 -->
    {{ if .Site.Params.vercount }}
    <p class="text-color-secondary text-sm text-right pt-1">
        本文有 <span id="vercount_value_page_pv">Loading</span> 次阅读
    </p>
    {{ end }}

    <hr class="bg-gray-300 my-10">

    <!-- 相关文章部分 -->
    {{ if in (slice "post" "posts") .Type }}
        {{ if .Site.Params.postAds }}
        <div class="post-ads">{{ .Site.Params.postAds | safeHTML }}</div>
        {{ end }}
        {{ partial "posts/related.html" . }}
    {{ end }}
    </div>
</section>

<!-- 侧边栏部分 -->
<div class="hidden md:block w-full lg:w-1/4 xl:w-1/4 px-6 text-gray-800 leading-normal">
    {{ partial "posts/profile.html" . }}

    <div class="flex flex-col justify-between sticky top-0 pt-12 pb-4 text-gray-600">
        {{ if or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) }}
        <div class="shadow rounded p-4 mt-5" style="background-color: var(--card-bg-color);">
            {{ partial "posts/toc.html" . }}
        </div>
        {{ end }}

        <div class="shadow rounded p-4 mt-5" style="background-color: var(--card-bg-color);">
            {{ partial "posts/jinrishici.html" . }}
        </div>
    </div>
</div>