<script>
  // 页面初始化
  document.addEventListener('DOMContentLoaded', () => {
    const hostname = window.location.hostname;
    const navContent = document.getElementById('nav-content');
    const progressBar = document.querySelector('#progress');
    const themeToggle = document.getElementById('theme-toggle');
    const themeToggleDarkIcon = document.getElementById('theme-toggle-dark-icon');
    const themeToggleLightIcon = document.getElementById('theme-toggle-light-icon');
    const htmlElement = document.documentElement;

    // 根据当前主题更新图标的显示
    const updateIcon = () => {
      if (!themeToggle) return;
      if (htmlElement.getAttribute('data-theme') === 'dark') {
        themeToggleDarkIcon.style.display = 'none';
        themeToggleLightIcon.style.display = 'block';
      } else {
        themeToggleDarkIcon.style.display = 'block';
        themeToggleLightIcon.style.display = 'none';
      }
    };

    // 切换主题
    const handleThemeToggle = () => {
      const currentTheme = htmlElement.getAttribute('data-theme');
      const newTheme = currentTheme === 'dark' ? 'light' : 'dark';
      htmlElement.setAttribute('data-theme', newTheme);
      localStorage.setItem('theme', newTheme);
      updateIcon();
    };

    // 为切换按钮绑定点击事件
    if (themeToggle) {
      themeToggle.addEventListener('click', handleThemeToggle);
    }

    // 初始化图标
    updateIcon();

    // 监听系统颜色方案的变化
    const mediaQuery = window.matchMedia('(prefers-color-scheme: dark)');
    mediaQuery.addEventListener('change', (e) => {
      // 仅当用户未手动设置主题时才跟随系统
      if (!localStorage.getItem('theme')) {
        const newTheme = e.matches ? 'dark' : 'light';
        htmlElement.setAttribute('data-theme', newTheme);
        updateIcon();
      }
    });

    // 导航切换
    document.body.addEventListener('click', (e) => {
      if (e.target.matches('#nav-toggle')) {
        navContent.classList.toggle('hidden');
      }
    });

    // 处理外部链接
    document.querySelectorAll('a[href^="http"]').forEach(link => {
      if (new URL(link.href).hostname !== hostname) {
        link.target = '_blank';
      }
    });

    // 滚动处理
    document.addEventListener('scroll', () => {
      const scrollY = window.scrollY;
      const scrollHeight = document.documentElement.scrollHeight - document.documentElement.clientHeight;
      
      progressBar.style.setProperty('--scroll', `${(scrollY / scrollHeight) * 100}%`);
      navContent.classList.toggle('bg-gray-100', scrollY <= 10);
    });
  });
</script>
