<div class="w-full sidebar-accordion">
    <div class="sidebar-accordion-header">
        <span>侧边栏</span>
        <svg class="h-6 w-6 accordion-arrow" fill="none" viewBox="0 0 24 24" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M19 9l-7 7-7-7" />
        </svg>
    </div>
    <div class="sidebar-accordion-content" style="display: none;">
        {{ partial "posts/profile.html" . }}

        {{ if or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) }}
        <div class="shadow rounded p-4 mt-5 bg-card">
            {{ partial "posts/toc.html" . }}
        </div>
        {{ end }}

        <div class="shadow rounded p-4 mt-5 bg-card">
            {{ partial "posts/jinrishici.html" . }}
        </div>
    </div>
</div>
