<div class="w-full lg:w-1/3 xl:w-1/3 px-6 text-main leading-normal md:block">
    {{ partial "posts/profile.html" . }}

    <div class="flex flex-col justify-between sticky top-0 pt-12 pb-4">
        {{ if or .Params.toc (and .Site.Params.toc (ne .Params.toc false)) }}
        <div class="shadow rounded p-4 mt-5 bg-card">
            {{ partial "posts/toc.html" . }}
        </div>
        {{ end }}

        <div class="shadow rounded p-4 mt-5 bg-card">
            {{ partial "posts/jinrishici.html" . }}
        </div>
    </div>
</div>
