// 混入：HSL 色板定义等。
@use "sass:string";
@use "variables";

@mixin defineColorHSL($color, $hue, $saturation, $lightness) {
  #{$color}: string.unquote("hsl(var(#{$color}-hsl))");
  #{$color}-hsl: #{$hue} #{$saturation} #{$lightness};
}

// 背景层

@mixin blur {
  -webkit-backdrop-filter: saturate(180%) blur(1em);
  backdrop-filter: saturate(180%) blur(1em);
}

// 制表宽度

@mixin tabSize {
  -moz-tab-size: variables.$tabSize;
  tab-size: variables.$tabSize;
}
