<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}"{{ if .Site.Params.overrideSystemPreferences }}{{ with .Site.Params.defaultTheme | default "light" }} data-theme="{{ . }}"{{ end }}{{ end }}>
    {{ partial "head.html" . }}
    <body>
        <div id="reading-progress"></div>
        <div class="container">
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
            {{ partial "components/back-to-top.html" . }}
            {{ partial "footer.html" . }}
        </div>
        {{ partial "third-party/vercount.html" . }}
    </body>
</html>
