{{ define "main" }}
    <main class="main list" id="main">
        <div class="main-inner">
            <div class="content list-group">
                {{ if .Content }}
                    <div class="section-content" data-pagefind-body>
                        {{ .Content }}
                    </div>
                {{ end }}

                {{ $pages := false }}

                {{ if eq .Kind "section" }}
                    {{ if eq .Section "archives" }}
                        {{ $pages = where .Site.RegularPages "Section" "in" .Site.Params.mainSections }}
                    {{ else }}
                        {{ $pages = .Pages }}
                    {{ end }}
                {{ end }}

                {{ if eq .Kind "term" }}
                    {{ $pages = .Pages }}
                {{ end }}

                {{ with $pages }}
                    {{ range .GroupByDate "2006" }}
                        <h2 class="list-year">{{ .Key }}</h2>
                        {{ partial "utils/list-item.html" (dict "$" .) }}
                    {{ end }}
                {{ end }}
            </div>
        </div>
    </main>
{{ end }}
