<div
  class="poem-card"
  style="
    background-color: var(--card-background);
    padding: 1rem;
    border-radius: 0.5rem;
  "
>
  <h3 class="yg:pb-6 py-2 text-base font-bold" style="color: var(--text-color)">
    今日诗词
  </h3>
  <script
    src="https://sdk.jinrishici.com/v2/browser/jinrishici.js"
    charset="utf-8"
  ></script>
  <div id="poem_sentence" class="sticky text-sm" style="top: 6em"></div>
  <br />
  <div id="poem_info"></div>
  <script type="text/javascript">
    jinrishici.load(function (result) {
      var sentence = document.querySelector('#poem_sentence')
      var info = document.querySelector('#poem_info')
      sentence.innerHTML = result.data.content
      info.innerHTML =
        '【' +
        result.data.origin.dynasty +
        '】' +
        result.data.origin.author +
        '《' +
        result.data.origin.title +
        '》'
    })
  </script>
</div>
