{{ define "main" }}
<section class="w-full lg:w-2/3 xl:w-2/3">
    <div class="p-8 mt-6 lg:mt-0 leading-normal rounded shadow bg-card">
        <p class="font-bold text-3xl pb-2 text-main">{{ .Title }}</p>

        {{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}

        {{ range sort ($pages.GroupByDate "2006") "Key" "desc" }}
            <p class="font-bold text-2xl hidden xl:inline-block pt-2 text-main">{{ .Key }}</p>
            
            {{ range .Pages.ByDate.Reverse }}
                <div class="p-1 flex flex-row border-b border-dotted border-gray-400">
                    <!-- prettier-ignore -->
                    <div class="xl:w-1/10 pr-10 pt-3 hidden xl:inline-block text-main" title="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">
                        {{ .Date.Format "01-02"}}
                    </div>
                    <div class="xl:w-auto py-3">
                        <p class="text-xl">
                            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
                        </p>
                        <p class="text-sm xl:hidden text-main">{{ .Date.Format "2006-01-02 15:04:05 MST" }}</p>
                        <p class="text-sm text-main">
                            {{ range .Params.tags }}
                                <a class="pr-2 hover:text-gray-800 text-main" href="{{ `tags/${ . | urlize }` | relURL }}">#{{ . }}</a>
                            {{ end }}
                        </p>
                    </div>
                </div>
            {{ end }}
        {{ end }}
    </div>
</section>

{{ partial "sidebar.html" . }}
{{ end }}
