// 页脚等处的社交图标列表。
@use "../utils/variables";

.socials {
  padding: 0;
  margin: 0;
  list-style: none;
}

.socials-item {
  display: inline-block;
  margin: 0.5em;
  border-radius: 50%;
  background-color: var(--color-contrast-medium);
  transition: background-color variables.$duration;

  a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    min-width: 2.75em;
    min-height: 2.75em;
  }

  &:hover {
    background-color: var(--color-primary);
  }
}

.social-icon {
  fill: var(--color-bg);
  padding: 0.5em;
}
