<!DOCTYPE html>
<html lang="{{ .Site.Language.Locale }}">
    <head prefix="og: http://ogp.me/ns# article: http://ogp.me/ns/article#">
        {{ partial "head.html" . }}
        {{ block "head-extra" . }}{{ end }}
    </head>
    <body id="top">
        <a class="skip-link" href="#main">跳到正文</a>
        {{- if partial "utils/is-post.html" . -}}
            <div id="reading-progress" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0" aria-label="阅读进度"></div>
        {{- end -}}
        <div class="container">
            {{ partial "header.html" . }}
            {{ block "main" . }}{{ end }}
            {{ partial "components/back-to-top.html" . }}
            {{ partial "footer.html" . }}
        </div>
        {{/* 含 404：菜单「搜索」在错误页也可用 */}}
        {{ partial "components/search-dialog.html" . }}
    </body>
</html>
