@use "../utils/functions";
@use "../utils/mixins";
@use "../utils/variables";

.header {
  z-index: 3;
  position: fixed;
  left: 0;
  right: 0;
  width: auto;
}

.header-wrapper {
  padding: 1em 0;
  @include mixins.blur;
  background: variables.$headerBackground;
  transition: background variables.$duration;
}

.header-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: variables.$postWidth;
}

.header-inner.list {
  max-width: variables.$listWidth;
}

.site-brand {
  margin-right: 1em;
}

.brand {
  font-size: variables.$siteBrandFontSize;
  color: variables.$siteBrandFontColor;
  text-decoration: none;
  &:hover {
    color: variables.$siteBrandFontColor;
  }
}

/* variables.$siteBrandFontSize * {body line-height} */
$brandHeight: variables.$fontSize *
  functions.strip-unit(variables.$siteBrandFontSize) * 1.618;

:root {
  /* This is an approximate calculation, it won't cover all scenarios */
  --header-height: calc(
    max(
        /* brand */ #{$brandHeight},
        /* menu */ #{variables.$fontSize * 0.8 * 1.5}
          /* {.nav font-size} * {.menu line-height} */
      )
      /* .header-wrapper top+bottom margin */ + #{variables.$fontSize * 2}
  );
}

/* Scrolling fix for anchors being hidden below the header */
:where(h1, h2, h3, h4, h5, h6, [data-anchor-target]) {
  scroll-margin-top: var(--header-height);
}
