{{/* This partial centralizes the logic for calculating page metadata. It is not
meant to be rendered directly, but called by other templates. It returns a
dictionary containing 'desc' and 'image'. */}} {{ $desc :=
.Site.Params.description }} {{ if not .IsHome }} {{ $desc = default .Summary
.Description }} {{ end }} {{ $desc = $desc | plainify | htmlUnescape | chomp }}
{{ if and (not .IsHome) (lt (len $desc) 20) }} {{ $desc = .Summary | plainify |
htmlUnescape | chomp }} {{ end }} {{ if lt (len $desc) 1 }} {{ $desc =
.Site.Params.description }} {{ end }} {{ $share_image := "" }} {{ if .IsPage }}
{{ with .Params.image }} {{ $share_image = . | absURL }} {{ else }} {{ with
.Resources.ByType "image" }} {{ $share_image = (index . 0).Permalink }} {{ end
}} {{ end }} {{ end }} {{ if eq $share_image "" }} {{ with
.Site.Params.author.avatar }} {{ $share_image = . | absURL }} {{ end }} {{ end
}} {{ return dict "desc" $desc "image" $share_image }}
