{{ define "main" }}
    <section class="w-full lg:w-3/4 xl:w-3/4">

    <!--Card-->
        <div class="p-8 mt-6 lg:mt-0 leading-normal rounded shadow bg-white dark:bg-gray-800 dark:text-gray-200">
            <p class="font-bold text-3xl pb-2">那年今天</p>
            {{ $review := false }}
            {{ range where .Site.RegularPages "Type" "in" (slice "post" "posts") }}
                {{ if eq (.Date.Format "01-02") (now.Format "01-02")}}
                    {{ partial "post-list-item.html" . }}
                    {{ $review = true}}
                {{ end }}

            {{ end }}
            {{ if not $review }}
                <p class="text-gray-600 text-sm">无</p>
            {{ end }}
            <p class="font-bold text-3xl pb-2 pt-4">文章归档</p>

            {{ range (where .Site.RegularPages "Type" "in" (slice "post" "posts")).GroupByDate "2006" -}}
            <div>
                <p class="font-bold text-2xl hidden xl:inline-block bg-white dark:bg-gray-800 sticky pt-2" style="top:2em;">{{ .Key }}</p>
                {{ range .Pages }}
                    {{ partial "post-list-item.html" . }}

                {{ end }}
            </div>
            {{ end }}
        </div>
    </section>

    <div class="hidden md:block w-full lg:w-1/4 xl:w-1/4 px-6 leading-normal">

        {{ partial "posts/profile.html" . }}
    </div>
{{ end }}
