<div class="sidebar-accordion w-full">
  <div class="sidebar-accordion-header">
    <span>侧边栏</span>
    <svg
      class="accordion-arrow h-6 w-6"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        stroke-width="2"
        d="M19 9l-7 7-7-7"
      />
    </svg>
  </div>
  <div class="sidebar-accordion-content" style="display: none">
    {{ partial "posts/profile.html" . }} {{ if or .Params.toc (and
    .Site.Params.toc (ne .Params.toc false)) }}
    <div class="bg-card mt-5 rounded p-4 shadow">
      {{ partial "posts/toc.html" . }}
    </div>
    {{ end }}

    <div class="bg-card mt-5 rounded p-4 shadow">
      {{ partial "posts/jinrishici.html" . }}
    </div>
  </div>
</div>
