<nav id="header" class="fixed top-0 z-10 w-full bg-card shadow">
  <div
    id="progress"
    class="top-0 z-20 h-1"
    style="
      background: linear-gradient(
        to right,
        var(--scroll-color) var(--scroll),
        transparent 0
      );
    "
  ></div>

  <div
    class="container mx-auto my-1 flex w-full flex-wrap items-center justify-between"
  >
    <div class="pl-4">
      <a
        class="text-main text-base font-bold no-underline hover:no-underline"
        href="/"
      >
        {{ $.Site.Title }}
      </a>
    </div>

    <div class="block pr-4 lg:hidden">
      <button
        id="nav-toggle"
        aria-label="切换导航菜单"
        aria-controls="nav-content"
        aria-expanded="false"
        class="text-secondary border-main hover:text-main hover:border-accent flex appearance-none items-center rounded border px-3 py-2 focus:outline-none"
      >
        <svg
          class="h-3 w-3 fill-current"
          viewBox="0 0 20 20"
          xmlns="http://www.w3.org/2000/svg"
        >
          <title>Menu</title>
          <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
        </svg>
      </button>
    </div>

    <div
      class="bg-main z-20 mt-2 hidden w-full flex-grow lg:mt-0 lg:flex lg:w-auto lg:items-center md:bg-transparent"
      id="nav-content"
    >
      <ul class="list-none flex-1 items-center justify-end lg:flex">
        {{- range .Site.Menus.main }}
        <li class="mr-3">
          <a
            href="{{ .URL }}"
            class="text-secondary hover:text-main inline-block px-2 py-2 font-bold no-underline"
            >{{ .Name }}</a
          >
        </li>
        {{- end }}
        <button
          id="switchTheme"
          class="flex h-10 w-10 items-center justify-center focus:outline-none"
          aria-label="切换主题"
        >
          <div id="dark-icon">
            <svg
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
            >
              <title>Dark Mode</title>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M20.354 15.354A9 9 0 018.646 3.646 9.003 9.003 0 0012 21a9.003 9.003 0 008.354-5.646z"
              ></path>
            </svg>
          </div>
          <div id="light-icon">
            <svg
              fill="none"
              stroke="currentColor"
              viewBox="0 0 24 24"
              xmlns="http://www.w3.org/2000/svg"
              class="h-6 w-6"
            >
              <title>Light Mode</title>
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="2"
                d="M12 3v1m0 16v1m9-9h-1M4 12H3m15.364 6.364l-.707-.707M6.343 6.343l-.707-.707m12.728 0l-.707.707M6.343 17.657l-.707.707M16 12a4 4 0 11-8 0 4 4 0 018 0z"
              ></path>
            </svg>
          </div>
        </button>
      </ul>
    </div>
  </div>
</nav>
