<div class="p-1 flex flex-row border-b border-dotted border-gray-400">
    <div class="text-gray-600 dark:text-gray-300 xl:w-1/10 pr-10 pt-3 hidden xl:inline-block" title="{{ .Date.Format "2006-01-02 15:04:05 MST" }}">{{ .Date.Format "01-02"}}</div>
    <div class="xl:w-auto py-3">
        <p class="text-xl">
            <a href="{{ .RelPermalink }}">{{ .Title }}</a>
        </p>
        <p class="text-gray-600 dark:text-gray-300 text-sm  xl:hidden">{{ .Date.Format "2006-01-02 15:04:05 MST" }}</p>
        <p class="text-gray-600 dark:text-gray-300 text-sm">
            {{ range .Params.tags }}
                <a class="pr-2 hover:text-gray-800 dark:hover:text-gray-200" href="{{ $.Site.BaseURL }}/tags/{{ . | urlize }}{{ if $.Site.Params.uglyURLs }}.html{{ end }}">#{{ . }}</a>
            {{ end }}
        </p>
    </div>
</div>
