{{/* 脚本：Concat site.js + 搜索；文章页 article.js；?hl= 由 head loader。 */}}
{{- $site := slice
    (resources.Get "js/theme.js")
    (resources.Get "js/navigation.js")
    (resources.Get "js/scroll-ui.js")
    | resources.Concat "js/site.js"
    | resources.Minify
    | resources.Fingerprint
-}}
<script type="module" src="{{ $site.RelPermalink }}" integrity="{{ $site.Data.Integrity }}" crossorigin="anonymous"></script>
{{- $searchDialog := resources.Get "js/search-dialog.js" | resources.Minify | resources.Fingerprint -}}
<script type="module" src="{{ $searchDialog.RelPermalink }}" integrity="{{ $searchDialog.Data.Integrity }}" crossorigin="anonymous"></script>
{{- if partial "utils/is-post.html" . -}}
    {{- $article := resources.Get "js/article.js" | resources.Minify | resources.Fingerprint -}}
    <script type="module" src="{{ $article.RelPermalink }}" integrity="{{ $article.Data.Integrity }}" crossorigin="anonymous"></script>
{{- end -}}
