{{ $meta := partial "internal/get-page-meta.html" . }} {{ $json := dict
"@context" "https://schema.org" "@type" (cond .IsHome "WebSite" "BlogPosting")
"name" (cond .IsHome .Site.Title .Title) "headline" (cond .IsHome .Site.Title
.Title) "description" $meta.desc "inLanguage" .Site.LanguageCode "url"
.Permalink "image" $meta.image "author" (dict "@type" "Person" "name"
.Site.Params.author.name) "publisher" (dict "@type" "Person" "name"
.Site.Params.author.name) }} {{ if not .IsHome }} {{ $json = merge $json (dict
"mainEntityOfPage" (dict "@type" "WebPage" "@id" .Permalink) "articleSection"
.Section "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00")
"dateModified" (.Lastmod.Format "2006-01-02T15:04:05Z07:00") "keywords" (default
(slice) .Params.tags) ) }} {{ end }}

<script type="application/ld+json">
  {{ $json | jsonify }}
</script>
