{{ define "main" }}
    <main class="main single" id="main">
        <div class="main-inner">
            {{ $pages := where .Site.RegularPages "Section" "eq" "post" }}
            {{ $paginator := .Paginate $pages }}
            {{ range $paginator.Pages }}
                <article class="content post home">
                    <h2 class="post-title">
                        <a href="{{ .RelPermalink }}" class="summary-title-link">{{ (partial "utils/title.html" (dict "$" . "title" .LinkTitle)).htmlTitle }}</a>
                    </h2>
                    {{ partial "components/post-meta.html" (dict "$" . "isHome" true) }}
                    <div class="summary">
                        {{ .Summary | plainify | htmlUnescape | strings.TrimSpace }}
                    </div>
                    {{ if or .Truncated .Params.summary }}
                        <div class="read-more-container">
                            <a href="{{ .RelPermalink }}" class="read-more-link">阅读更多 »</a>
                        </div>
                    {{ end }}
                </article>
            {{ end }}
            {{ if or $paginator.HasPrev $paginator.HasNext }}
                <ul class="pagination">
                    {{ if $paginator.HasPrev }}
                        <li class="pagination-prev">
                            <a href="{{ $paginator.Prev.URL }}" rel="prev">&lt; 上一页</a>
                        </li>
                    {{ end }}
                    {{ if $paginator.HasNext }}
                        <li class="pagination-next">
                            <a href="{{ $paginator.Next.URL }}" rel="next">下一页 &gt;</a>
                        </li>
                    {{ end }}
                </ul>
            {{ end }}
        </div>
    </main>
{{ end }}
