{{- $scripts := slice
    "js/main.js"
    "js/header.js"
    "js/nav-toggle.js"
    "js/dark-mode.js"
    "js/copy.js"
    "js/reading-progress.js"
    "js/custom.js"
-}}

{{- $processedScripts := slice -}}
{{- range $scripts -}}
    {{- if findRE `^https?:` . -}}
        <script src="{{ . }}" defer></script>
    {{- else -}}
        {{- $path := printf "%s/%s" $.Lang (. | replaceRE `\.js$` "-rendered.js") -}}
        {{- $processedScripts = $processedScripts | append (resources.Get . | resources.ExecuteAsTemplate $path $) -}}
    {{- end -}}
{{- end -}}

{{- $path := (strings.TrimPrefix "/" (printf `%s/js/meme.js` .Site.LanguagePrefix)) -}}

{{- $script := $processedScripts | resources.Concat $path | resources.Minify -}}
{{- if .Site.Params.enableFingerprint -}}
    {{- $script = $script | resources.Fingerprint -}}
    <script src="{{ $script.RelPermalink }}"
    {{- if .Site.Params.enableSRI }} integrity="{{ $script.Data.Integrity }}" crossorigin="anonymous"{{- end -}}
    ></script>
{{- else -}}
    <script src="{{ $script.RelPermalink }}"></script>
{{- end }}
