{{- /* 列表项：接受 GroupBy 结果（.Pages）或显式 pages 集合。 */ -}}
{{- $pages := .Pages -}}
{{- if not $pages -}}
    {{- with .pages -}}
        {{- $pages = . -}}
    {{- end -}}
{{- end -}}
{{- with $pages -}}
    <ul class="list-part">
        {{ range . }}
            <li class="list-item">
                <a href="{{ .RelPermalink }}" class="list-item-title">{{ (partial "utils/title.html" (dict "$" . "title" .LinkTitle)).htmlTitle }}</a>
                <time datetime="{{ .Date.Format "2006-01-02T15:04:05-07:00" }}" class="list-item-time">{{ .Date.Format .Site.Params.listDateFormat }}</time>
            </li>
        {{ end }}
    </ul>
{{ end }}
