<!-- http://ogp.me/ -->
{{- $ := index . "$" -}}
{{- $seo := .seo -}}

<meta property="og:title" content="{{ $seo.title }}" />
<meta property="og:description" content="{{ $seo.description }}" />
<meta property="og:url" content="{{ $.Permalink }}" />
<meta property="og:site_name" content="{{ $.Site.Title }}" />
{{- $localeParts := split $.Site.Language.Lang "-" -}}
{{- $ogLocale := lower (index $localeParts 0) -}}
{{- if gt (len $localeParts) 1 -}}
    {{- $ogLocale = printf "%s_%s" $ogLocale (upper (index $localeParts 1)) -}}
{{- end -}}
<meta property="og:locale" content="{{ $ogLocale }}" />

{{- range $seo.images -}}
    <meta property="og:image" content="{{ . }}" />
    <meta property="og:image:alt" content="{{ $seo.title }}" />
{{- end -}}

{{- if and $.IsPage (partial "utils/is-post.html" $) -}}
    <meta property="og:type" content="article" />
    <meta property="article:published_time" content="{{ $seo.dates.pubDate }}" />
    <meta property="article:modified_time" content="{{ $seo.dates.modDate }}" />
    {{ if not $.ExpiryDate.IsZero -}}
        <meta property="article:expiration_time" content="{{ $.ExpiryDate.Format "2006-01-02T15:04:05-07:00" }}" />
    {{- end }}
    <meta property="article:section" content="{{ $.Section }}" />
{{ else -}}
    <meta property="og:type" content="website" />
{{- end }}
