<!doctype html>
<html lang="{{ $.Site.LanguageCode }}">
  {{ partial "head.html" . }}

  <body class="text-main bg-main leading-normal tracking-wider">
    <div
      id="overlay"
      class="fixed inset-0 z-30 hidden bg-black bg-opacity-50"
    ></div>

    {{ partial "header.html" . }}

    <main>
      <div
        id="container"
        class="text-main container mx-auto flex w-full flex-wrap px-2 pt-16 lg:pt-20"
      >
        {{- block "main" . }}{{- end }}
      </div>

      {{ partial "footer.html" . }}
    </main>

    {{ partial "scripts.html" . }}
  </body>
</html>
