<!DOCTYPE html>
<html lang="{{ $.Site.LanguageCode }}">

{{ partial "head.html" . }}
<script>
  // 在页面加载时立即应用主题
  const htmlElement = document.documentElement;
  const savedTheme = localStorage.getItem('theme') || 'light';
  htmlElement.setAttribute('data-theme', savedTheme);
</script>

<body class="text-main tracking-wider leading-normal bg-main">

    {{ partial "header.html" . }}

    <main id="swup" class="transition-fade">
      <div id="container" class="container w-full flex flex-wrap mx-auto px-2 pt-16 lg:pt-20 text-main">

      {{- block "main" . }}{{- end }}

      </div>
    
      {{ partial "footer.html" . }}
    </main>
    
    {{ partial "scripts.html" . }}
</body>

</html>
