{{ define "head-extra" }}
    {{- $pagefindCSS := "pagefind/pagefind-ui.css" | relURL -}}
    <link rel="stylesheet" href="{{ $pagefindCSS }}" />
    {{- /* After pagefind-ui.css so --pagefind-ui-* tokens override vendor defaults. */ -}}
    {{- $options := dict
        "targetPath" "css/search.min.css"
        "outputStyle" "compressed"
        "transpiler" "dartsass"
    -}}
    {{- $searchStyle := resources.Get "scss/search.scss" | css.Sass $options | resources.Fingerprint -}}
    <link rel="stylesheet" href="{{ $searchStyle.RelPermalink }}" integrity="{{ $searchStyle.Data.Integrity }}" crossorigin="anonymous" />
{{ end }}

{{ define "main" }}
    {{- $pagefindJS := "pagefind/pagefind-ui.js" | relURL -}}
    {{- $pagefindBundle := "pagefind/" | relURL -}}
    <main class="main list" id="main">
        <div class="main-inner">
            <div class="content list-group" data-pagefind-ignore>
                <h1 class="list-title">{{ .Title }}</h1>
                <div id="search" class="search-area" data-pagefind-bundle="{{ $pagefindBundle }}"></div>
            </div>
        </div>
    </main>
    {{/* Classic (blocking) UI script must stay before the module init. search.js waits briefly if PagefindUI is late. */}}
    <script src="{{ $pagefindJS }}"></script>
    {{- $search := resources.Get "js/search.js" | resources.Minify | resources.Fingerprint -}}
    <script type="module" src="{{ $search.RelPermalink }}" integrity="{{ $search.Data.Integrity }}" crossorigin="anonymous"></script>
    <noscript>
        <p class="search-noscript">搜索需要启用 JavaScript。</p>
    </noscript>
{{ end }}
